<!DOCTYPE html>

<head>

  <title>Foodfy</title>

  {% include 'parts/styles.njk' %}

</head>

<body class='home-body'>

  {% include 'parts/home-header.njk' %}

  {% block content %}{% endblock content %}

  {% include 'parts/footer.njk' %}

  <script src="/scripts/home.js"></script>

</body>

</html>
