{% extends 'home/layout.njk' %}

{% block content %}

<div class='all-recipes'>

  {% for recipe in recipes %}

  <div class='recipe'>

    <div class='recipe-img'>
      <a href='/recipes/{{recipe.id}}'><img src={{recipe.img}} alt={{recipe.title}}></a>
    </div>

    <div class='recipe-info'>
      <h2>{{recipe.title}}</h2>
      <p>por {{recipe.chef_name}}</p>
    </div>

  </div>

  {% endfor %}

</div>

{% endblock content %}