/* CHEFS LIST ----------------------------------------------------------------*/

.admin-chefs {
  width: 940px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.admin-chefs .admin-chef {
  margin-top: 30px;

  display: flex;
}

.admin-chefs .chef-img img {
  width: 64px;
  height: 64px;

  border-radius: 50%;
  margin-right: 20px;
}

.admin-chefs .chef-info h2 {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.admin-chefs .chef-info a {
  font-size: 14px;
  color: var(--primary-color);
  text-decoration: none;
}

.admin-chefs .chef-info a:hover {
  color: var(--buttonhover-color);
  text-decoration: underline;
  font-weight: 700;
  transition: 300ms;
}

/* CHEF SHOW -----------------------------------------------------------------*/

.show-chef-content {
  width: 940px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.show-chef-content .chef-image {
  margin-top: 50px;
}

.show-chef-content .chef-image img {
  width: 200px;
  height: 200px;

  border-radius: 50%;
}

.show-chef-content .chef-title {
  font-size: 36px;
  font-weight: 700;
  margin-top: 30px;
}

.show-chef-content .chef-n-recipes {
  font-size: 20px;
  color: #777777;
  margin-top: 4px;
  margin-bottom: 50px;
}

.chef-recipes-title {
  width: 940px;
  margin: 0 auto;
}

.chef-recipes {
  width: 940px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.chef-recipes .chef-recipe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.chef-recipes .chef-recipe .recipe-info a {
  margin-bottom: 50px;
}

.chef-recipes .chef-recipe .recipe-img img {
  width: 100%;
  height: 100px;
  border-radius: 10px;

  margin-top: 20px;
}

.chef-recipes .chef-recipe .recipe-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chef-recipes .chef-recipe .recipe-info h2 {
  font-size: 18px;
  color: #111111;

  margin-top: 30px;
}

.chef-recipes .chef-recipe .recipe-info h3 {
  margin-top: 5px;
  font-size: 14px;
  color: #777777;
}

.chef-recipes .chef-recipe .recipe-info a {
  text-decoration: none;
  color: var(--primary-color);
}

.chef-recipes .chef-recipe .recipe-info a:hover {
  text-decoration: underline;
  color: var(--buttonhover-color);
  cursor: pointer;
  transition: 300ms;
  font-weight: 700;
}

/* CHEF CREATE ---------------------------------------------------------------*/

.admin-fields .image-field #avatar-send {
  position: relative;
  margin-top: 18px;
}

.admin-fields .image-field #avatar-input {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;

  width: 123px;
  height: 100%;
  margin-top: 0px;

  opacity: 0;
  cursor: pointer;
}

.admin-fields .image-field #avatar-send span {
  background-color: var(--primary-color);

  color: white;
  padding: 8px 16px;
  border-radius: 4px;
}

.admin-fields .image-field #avatar-send span:hover,
.admin-fields .image-field #avatar-send:hover span {
  background-color: var(--buttonhover-color);
  cursor: pointer;
  transition: 300ms;
}