* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto';
}

:root {
  --primary-color: rgb(179, 0, 185);
  --buttonhover-color: rgb(112, 0, 134);
  --header-color: rgba(255, 131, 207, 0.158);
}

/* LAYOUT --------------------------------------------------------------------*/

.home-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;
}

.home-header {
  text-align: center;
  padding-top: 36px;
  padding-bottom: 30px;
  margin-bottom: 10px;

  background-color: var(--header-color);
}

.home-header-links {
  align-items: center;
  display: flex;
  justify-content: space-between;

  width: 940px;
  margin: 0 auto;
}

.home-header-links a {
  text-decoration: none;
  margin-right: 30px;
  
  font-size: 16px;
  color: black;
}

.home-header-links a:hover {
  font-weight: 700;
  color: var(--buttonhover-color);
}

#after {
  position: relative;
}

#after::after { 
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: -3px;
}

#after:hover::after {
  transition: width 500ms ease-in;
  width: 100%;
}

.home-header-links a.active {
  color: var(--primary-color);
  font-weight: 700;
}

.home-header-links a img {
  margin-right: 40px;
}

.account .material-icons {
  margin-top: 5px;
  font-size: 28px;
  margin-left: 20px;
}

.home-header-links .filters {
  position: relative;
}

.home-header-links .filters input {
  border: 1px solid #dddddd;
  width: 200px;
  height: 12px;

  font-size: 14px;
  padding: 8px 8px;
  margin-right: 10px;
  margin-left: 80px;

  position: relative;
  right: 45px;
}

.home-header-links .filters button {
  background-color: var(--primary-color);

  color: white;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.6px;

  padding: 6px 16px;
  border-radius: 4px;

  position: absolute;
  right: 0;
}

.home-header-links .filters button:hover {
  background-color: var(--buttonhover-color);
  transition: 300ms;
  cursor: pointer;
}

footer {
  background-color: #EEEEEE;
  color: #999999;

  margin-top: auto;
  padding-top: 23px;
  padding-bottom: 23px;
}

footer h1 {
  font-size: 14px;
  text-align: center;
}

/* INDEX ---------------------------------------------------------------------*/

.home-card {
  width: 780px;
  margin: 0 auto;
  padding-top: 66px;
  padding-right: 100px;
  padding-left: 60px;

  background-color: #FBDFBD;

  border-radius: 30px;

  display: grid;
  grid-template-columns: 1fr 1fr;

  text-align: center;
  justify-content: center;
}

.home-card .card-text {
  margin-top: 52px;
}

.home-card .card-text h1 {
  font-size: 32px;
  text-align: left;
  color: #111111;

  width: 316px;
  line-height: 38px;
  margin: 0 auto;
}

.home-card .card-text h2 {
  font-size: 18px;
  text-align: justify;
  color: #000000;

  width: 316px;
  margin: 0 auto;
  margin-top: 10px;
}

.home-recipes {
  width: 940px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.home-recipes h1 {
  font-size: 24px;
  color: #111111;
  margin-bottom: 24px;
}

.home-recipes .recipes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.home-recipes .recipes .recipe img {
  width: 300px;
  height: 140px;
  border-radius: 15px;
}

.home-recipes .recipes .recipe h2 {
  font-size: 18px;
  margin-top: 20px;
}

.home-recipes .recipes .recipe h3 {
  font-size: 14px;
  color: #777777;
  margin-top: 5px;
}

/* ABOUT ---------------------------------------------------------------------*/

.home-about {
  width: 940px;
  margin: 0 auto;
}

.home-about h1 {
  color: #111111;
  font-size: 24px;
  
  margin-bottom: 20px;
}

.home-about h2 {
  color: #111111;
  font-size: 20px;
  margin-bottom: 20px;
}

.home-about h3 {
  color: #444444;
  font-size: 18px;

  margin-bottom: 30px;
}

.home-about h3:last-child {
  margin-bottom: 50px;
}

/* RECIPES ------------------------------------------------------------------ */

.all-recipes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;

  width: 940px;
  margin: 0 auto;
}

.all-recipes .recipe img {
  width: 300px;
  height: 140px;
  border-radius: 15px;
}

.all-recipes h1 {
  font-size: 24px;
  color: #111111;
  margin-bottom: 24px;
}

.all-recipes .recipe img {
  width: 300px;
  height: 140px;
  border-radius: 15px;
  margin-top: 10px;
}

.all-recipes .recipe h2 {
  font-size: 18px;
  margin-top: 20px;
}

.all-recipes .recipe h3 {
  font-size: 14px;
  color: #777777;
  margin-top: 5px;
}

.all-recipes .recipe:last-child p {
  margin-bottom: 50px;
}

/* SHOW ----------------------------------------------------------------------*/

.show-content {
  width: 940px;
  margin: 0 auto;
}

.show-content .image img {
  border-radius: 15px;
}

.show-content .title {
  margin-top: 50px;
  
  font-size: 32px;
  font-weight: 700;
  
  text-align: center;
}

.show-content .author {
  font-size: 20px;
  color: #777777;
  
  margin-bottom: 50px;
  text-align: center;
}

.show-content .ingredients h1,
.show-content .preparation h1,
.show-content .information h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.show-content .ingredients-text,
.show-content .preparation-text,
.show-content .information-text {
  margin-bottom: 50px;
  font-size: 18px;
  color: #444444;
}

.show-content .ingredients-text ul {
  margin-left: 20px;
}

.show-content .preparation-text ul {
  list-style-type: decimal;
  margin-left: 20px;
}

.show-content .information-text {
  margin-bottom: 50px;
}

/* BUTTON SHOW-HIDE --------------------------------------------------------- */

.ingredients-head,
.preparation-head,
.information-head {
  display: flex;
  align-items: center;
}

.ingredients-head h1,
.preparation-head h1,
.information-head h1 {
  margin-right: 8px;
}

.ingredients-head button,
.preparation-head button,
.information-head button {
  text-transform: uppercase;
  color: #999999;
  background-color: white;

  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.4px;

  margin-top: 2px;
  margin-bottom: 20px;
}

.hide {
  display: none;
}

/* CHEFS LIST ----------------------------------------------------------------*/

.home-chefs-list {
  width: 940px;
  margin: 0 auto;

  margin-top: 0px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.home-chefs-list .chef {
  margin-top: 30px;

  display: flex;
}

.home-chefs-list .chef-img img {
  width: 64px;
  height: 64px;

  border-radius: 50%;
  margin-right: 20px;
}

.home-chefs-list .chef-info h2 {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.home-chefs-list .chef-info p {
  font-size: 14px;
  color: #666666;
  text-decoration: none;
}

/* FILTER --------------------------------------------------------------------*/

.filter-card {
  width: 940px;
  margin: 0 auto;
}

.filter-card .filter-title {
  margin-top: 20px;
  margin-bottom: 20px;

  font-size: 24px;
  font-weight: 700;
}

.filter-card .recipes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.filter-card .recipes img {
  width: 300px;
  height: 140px;
  border-radius: 15px;
}

.filter-card .recipes h2 {
  font-size: 18px;
  color: #111111;
}

.filter-card .recipes p {
  font-size: 14px;
  color: #777777;
}

.filter-card .recipe:last-child p {
  margin-bottom: 50px;
}

/* RECIPE GALLERY ------------------------------------------------------------*/

.show-content .gallery {
  width: 100%;
}

.show-content .gallery .highlight > img {
  width: 940px;
  height: 280px;

  border-radius: 15px;

  object-fit: cover;
  object-position: 50% 50%;
}

.show-content .gallery-preview {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.show-content .gallery-preview img {
  height: 50px;
  width: 50px;
  margin-left: 10px;
  border-radius: 4px;

  object-fit: cover;

  opacity: 0.7;
  cursor: pointer;
}

.show-content .gallery-preview img:hover,
.show-content .gallery-preview img.active {
  opacity: 1;
  transition: 200ms;
}