@keyframes hidemessage {
  to {
    opacity: 0;
  }
}

.messages {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 6px 12px;

  font-size: 16px;

  width: 330px;
  height: 80px;
  color: white;

  bottom: 12px;
  right: 18px;
  opacity: 1;

  animation: hidemessage 400ms 4s ease-out forwards;
}

.messages.error {
  background-color: #DC4747;
  position: fixed;
}

.messages.success {
  background-color: #01B12A;
  position: fixed;
}
