.session-header {
  padding: 15px 0;
  text-align: center;
  margin-top: 20px;
}

.session-container {
  margin-top: 100px;
  width: 500px;
  margin: 0 auto;
}

.session-container .title {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.session-container .title h2 {
  font-size: 24px;
  font-weight: 700;
}

.session-container .fields h3 {
  font-size: 16px;
  font-weight: 700;
  margin-top: 35px;
}

.session-container .fields .input input {
  width: 100%;
  margin-top: 10px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 15px;

  display: block;
  box-sizing: border-box;
}

.session-container .submit {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.session-container .submit a {
  font-size: 16px;
  text-decoration: none;
  color: #75757596;
  font-weight: 700;
}

.session-container .submit button {
  font-size: 16px;
  color: white;
  font-weight: 700;
  background-color: var(--primary-color);
  
  padding: 8px 16px;
  border-radius: 4px;

  position: absolute;
  right: 0;
  top: -8px;
}

.session-container .submit button:hover {
  background-color: var(--buttonhover-color);
  transition: 300ms;
  cursor: pointer;
}