{% extends 'admin/layout.njk' %}

{% block content %}

<div class='admin-recipes-title'>

  Gerenciar todas as receitas

  <a href='/admin/recipes/create'><button>Adicionar receita</button></a>

</div>

<div class='admin-recipes'>

  {% for recipe in recipes %}

    <div class='admin-recipe'>

      <div class='admin-recipe-img'>

          <a><img src={{recipe.img}} alt={{recipe.title}}></a>
                  
      </div>

      <div class='admin-recipe-info'>
        <h2>{{recipe.title}}</h2>
        <h3>por {{recipe.chef_name}}</h3>
        <a href='/admin/recipes/{{recipe.id}}'>Visualizar</a>
      </div>

    </div>

  {% endfor %}

</div>

<div class='paginate'>
  {% for page in pages %}

    <a href='?page={{page}}&filter={{filter}}'>{{page}}</a>

  {% endfor %}
</div>


{% endblock content %}