<header class='admin-header'>

  <div class='admin-header-links'>

    <a href="/admin"><img src="/images/whitelogo.png" alt="Foodfy"></a>
    <a href="/admin/recipes">Receitas</a>
    <a href="/admin/chefs">Chefs</a>
    <a href='/admin/users'>Usuários</a>
    <form action='/session/logout' method='POST'>
      <button>Sair</button>
    </form>
  
  </div>
  
</header>