<header class='home-header'>

    <div class='home-header-links'>

      <a href="/"><img src="/images/logo.png" alt="Foodfy"></a>
      <a id='after' href="/about">Sobre</a>
      <a id='after' href="/recipes">Receitas</a>
      <a id='after' href="/chefs">Chefs</a>

      <div class='account'>

        <a href='/session/login'>
          <i class='material-icons'>account_circle</i>
        </a>

      </div>

      <form action='/filter' method='GET'>

        <div class='filters'>

          <input 
            type='text'
            name='filter'
            placeholder='Buscar uma receita'
            value='{{filter}}'>
          <a href='/filter'><button type='submit'>Buscar</button></a>

        </div>

      </form>
    
    </div>
    
  </header>